<h1>{{ cand.name }}</h1>
<ul>
    <li><h2> Challenges Solved: {{ cand.num_challenges_solved }} </h2></li>
    <li><h2> Expertise Level: {{cand.expertise_level}} </h2></li>
    <li><h2> Expertise breakdown: On a scale of 1 to 5 </h2>
        <ul>
            <li><h3> Data Structures: {{cand.data_strs}} </h3></li>
            <li><h3> Algorithms: {{cand.algos}} </h3></li>
            <li><h3> C++: {{cand.cplusplus}} </h3></li>
            <li><h3> Java: {{cand.java}} </h3></li>
            <li><h3> Python: {{cand.python}} </h3></li>
        </ul>
    </li>
</ul>





